.navbar {
  padding: 0 1rem;
}

.navbar-brand {
  font-size: 1.6em;
}

.navbar-nav a {
  color: $white-color;
  line-height: 1;
  display: inline-block;
  padding: 0.8rem 1.6rem;
  margin: 2px;
  font-size: 1.4em;
}
.navbar-nav a:hover {
  cursor: pointer;
  color: $secondary-color;
}

/* Contact button Style */
.cta-btn--contact {
  color: $white-color;
  border: 2px solid $white-color;
  margin: 0 0 0 2rem !important;

  &::after {
    background: $secondary-color;
  }

  &:hover {
    color: $dark-grey !important;
    text-decoration: none;

    &::after {
      width: 100%;
    }
  }
}
